<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qqpractice.activity"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qqpractice.ui.bases.BaseActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name=".AccountActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
        </activity>
        
        <service android:name="com.qqpractice.service.APService"
            android:exported="false" />
                
        <receiver android:name="com.qqpractice.service.APReceiver" 
            android:exported="false" >
            <intent-filter>
                <action android:name="com.qqpractice.bg.ACTION_AUTO_PRACTICE_ALARM"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
